[submodule "pathogen"]
	path = pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
